/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
    background: #fff;
    font-family: Arial;
}
header{
    text-align: center;
    font-size: 1.2em;
}

p {
    font-size: 1em;
    display: flex;
}

nav {
    display: none;
    clear: both;
    justify-content: center;
    background: #333;
    flex-direction: column;
}
nav a {
    padding: 1.25em 1.5em;
    color: #ccc;
    background: #555;
    text-decoration: none;
    transition: all 1.5s;
}

li{
    font-size: 1em;
}

.active{
    background-color: #8B008B;
}
.menu {
    text-align: center;
    color: #fff;
    line-height: 2em;
}
.menu-toggle {
    display: flex;
}
.menubtn{
    width: 2em;
    height: 2em;
    margin: auto;
}

.monthlyform {
    width: 300px;
    margin: 0 auto;
}
.monthlyform h1{
    font-weight: bold;
}

.signup {
    width: 300px;
    margin: auto;
}
.signup h1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 0 15px 0;
}
.signup input[type="email"],
.signup input[type="password"],
.signup input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.signup input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.login {
    width: 300px;
    margin: 0 auto;

}
.login h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 15px 0 15px 0;
}
.login input[type="password"],
.login input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.login input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.addbtns{
    padding: 1em;
}

.addmonthlybudget,
.addspenddetails,
.addweeklybudget{
    padding: 1em;
}

.piehchart,
.monthchart,
.weeklychart{
    height: 20em;
}

.budgpic {
    height: 9em;
    width: 9em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.detailsaccordion,
.weeklysummaryaccordion,
.monthaccordion{
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.detailsaccordion:hover{
    background-color: #535b63;
}
.weeklysummaryaccordion:hover{
    background-color: #535b63;
}
.monthaccordion:hover{
    background-color: #535b63;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

    /* applies to screens wider than 499px */

    body {
        background: #fff;
    }
    .menu {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
    }
    nav a:hover {
        color: #dfd;
        background: 	#778899;
    }
    .active{
        background-color: #8B008B;
    }

}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

    /* applies to screens wider than 999px */

    body {
        background: #FFFFFF;
    }



    .menu {
        background: #708090;
        text-align: center;
        color: #fff;
        line-height: 2em;
    }

    header{
        font-size: 1.4em;
    }

    p{
        font-size: 1.1em;
    }

    h2{
        font-size: 1.3em;
    }

    li{
        font-size: 1.1em;
    }

    nav a {
        padding: 1.3em 1em;
        color: #ccc;
        background: #535b63;
        text-decoration: none;
        transition: all 1.5s;
    }


}
